<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista kryptowalut</title>
    <link rel="stylesheet" href="coinlistitem.css">
</head>
<body>
<h1>Kupno kryptowalut</h1>
<ul class="crypto-list">
    <li class="crypto-item">
        <img src=# alt="Bitcoin" class="crypto-image">
        <div class="crypto-details">
            <h2>Bitcoin (BTC)</h2>
            <p class="crypto-price">Kwota: <span>245,000 PLN</span></p>
            <button class="buy-button">Kup</button>
        </div>
    </li>
</ul>
</body>
</html>