<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Świat Kryptowalut</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" />
</head>
<body>
<div class="section first" id="first">
    <h1>Wejdź w świat kryptowalut</h1>
    <div class="buttons">
        <a href="/login">
            <button class="login">Zaloguj</button>
        </a>
        <a href="/register">
            <button class="register">Zarejestruj</button>
        </a>
    </div>
</div>
<div class="section second" id="second">
    <p>Odkryj niesamowite możliwości inwestowania i technologii blockchain.</p>
    <div class="footer">© 2025 Kryptowaluty | Wszystkie prawa zastrzeżone</div>
</div>



<script th:src="@{/js/index.js}"></script>
</body>
</html>