<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Świat Kryptowalut</title>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}" />
</head>
<body>
<div class="section" id="central-section">
    <button class="logout-button" onclick="window.location.href='/'">Wyloguj</button>
    <div class="central-container">

        <p>Witaj, <span th:text="${user.userName}"></span>!</p>
        <p>Twój email: <span th:text="${user.email}"></span></p>

    </div>
</div>
<div class="footer">© 2025 Kryptowaluty | Wszystkie prawa zastrzeżone</div>
</body>
</html>