<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Świat Kryptowalut</title>
    <link rel="stylesheet" th:href="@{/css/mainpage.css}" />
</head>
<body>
<div class="section" id="central-section">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="logout-button" onclick="window.location.href='/'">Wyloguj</button>
    </form>

    <h1>Witaj, <span th:text="${#authentication.name}"></span>!</h1>

    <div class="central-container">qwe
    </div>
</div>


<div class="footer">© 2025 Kryptowaluty | Wszystkie prawa zastrzeżone</div>
</body>
</html>